header p {
  font-family: monospace;
  margin: 0 0;
  padding: 12px;
  box-sizing: content-box;
  color: #fcfa00;
  background-color: #132088;
  left: 0px;
  position: fixed;
  text-align: center;
  top: 0px;
  width: 100%;
  z-index: 999;
  line-height: 1;
  font-size: 1em;
}

a {
  color: blue;
  cursor: pointer;
}

a:hover {
  color: #d89c61;
}

.nav-link:hover {
  font-weight: 900;
}

.btn {
  color: white;
  font-size: 120%;
  background-color: #2176FF;
  padding: 15px;
  border-radius: 10px;
  font-family: 'Raleway', sans-serif;
}

.btn:hover {
  color: #2176FF;
  font-weight: bold;
  background-color: white;
}

.btn:active {
  opacity: 0.7;
  font-size: 110%;
}

.activity:hover {
  font-weight: bold;
  border: 5px solid #d89c61;
}

.activity:active {
  opacity: 0.7;
  font-size: 35px;
}

.chris {
  font-weight: 600;
  color: white;
  text-decoration: underline;
}

.footer h2 {
    line-height: 1.2;
}
